button {
    color: white;
    background-color: #212529;
    margin-top: 8px;
    margin-left: 8px;
    padding: 12px 20px 12px 20px;
}

button:hover {
    color: #212529;
    background-color: #DDD7C0;
}

button:active {
    color: #212529;
    background-color: #CBC6B2
}

button:disabled {
    filter: brightness(50%);
}

a {
    color:#212529;
}

a:hover {
    color: #DDD7C0;
}

a:active {
    color: #CBC6B2;
}